*.*
!__init__.py
src/*
!src/*.[ch]
!docs/*.rst
!docs/.readthedocs.yaml
data/*
mica2
!postprocess.py
!plotfig.py
!docs/_static/*.jpg
!param
!param/param
!param/OPTIONS*
!Makefile_deprecated
CMakeFiles/*
!CMakeLists.txt
!plotdecomp.py
tests/*
!tests/twogauss
tests/twogauss/*
!tests/twotophat
tests/twotophat/*
!tests/twogauss/param_twogauss
!tests/twogauss/test_twogauss.sh
!tests/twogauss/resp_input.txt
!tests/twogauss/sim_data.txt
!tests/twotophat/param_twotophat
!tests/twotophat/test_twotophat.sh
!tests/twotophat/sim_data.txt
!tests/twotophat/resp_input.txt
Makefile
!setup.py
!tests/python
tests/python/*
!tests/python/example.py
!tests/python/sim_data.txt
!tests/pmap
tests/pmap/*
!tests/pmap/example.py
!tests/pmap/mcg08_g.txt
!tests/pmap/mcg08_r.txt
!tests/vmap
tests/vmap/*
!tests/vmap/example.py
!tests/vmap/mcg08_g.txt
!tests/vmap/mcg08_r.txt
!tests/negative_resp
tests/negative_resp/*
!tests/negative_resp/example.py
!tests/negative_resp/sim_data.txt
!tests/negative_resp/resp_input.txt
cdnest/*
!cdnest/*.[ch]
!python/pymica/__init__.py
!python/pymica/pymica.pxd
!python/pymica/pymica.pyx
!.readthedocs.yaml
